html{
  background-color: #fff;
  font-size:1em;
  width: 100%;
}
table{
  font-size: 0.6em;
}tr{
    height:20px;
}td{
  text-align: left;
  padding:0px;
  /*overflow:hidden;*/
}

.head{
    margin-top: 50px;
}

.tableContainer{
  margin-top: 5px;
  margin-bottom: -5px;
}
.cuadro{
  border: solid 1px #000;
  text-align: left;
  padding: 0px;
  font-size: 0.7em;
  height: 35px;
  overflow:hidden;
}
#hrDiv{
  display: block;
  margin-top: 50px;
}
hr {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
  display: block;
  height: 1px;
  width: 100%;
}


.divForm {
  z-index: 5;
  position: fixed;
  top: 20%;
  padding: 15px;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 1em;
}@media only screen and (max-width: 700px) {
    .divForm {
        width: 100%;
    }
}.divForm .titulo{
  padding: 30px;
  background-color: #212121;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 3px;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 90% 50%;
  margin-bottom: 20px;
}.divForm input[type="radio"], .divForm input[type="checkbox"]{
  width: 1.2em;
  height: 1.2em;
}

.btnAction{
  margin-top: 10px;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
}
.btnCancel{
  background-color: #e0e0e0;
  color: #000;
}
.btnCancel:hover{
  background-color: #bdbdbd;
}
.btnCancel:active{
  background-color: #9e9e9e;
}
.btnAcept{
  background-color: #00BCD4;
  color: #fff;
}
.btnAcept:hover{
  background-color: #00acc1;
  color: #fff;
}
.btnAcept:focus{
  color: #fff;
}
.btnAcept:active{
  background-color: #0097a7;
  color: #fff;
}
